.container{
  width: 100%;
  padding-right: padding-x;
  padding-left: padding-x;
  margin-right: auto;
  margin-left: auto;
}


.custom-container {
  include make-container();
}
.container{
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
};